@import '../../styles/variables.scss';

.title {
    background : url('../../assets/Highlight\ 12.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50%;
    font-size: 1.8em;
    color: $primary-color;
    margin : 40px auto;
    @media (min-width: 768px) {
        margin: 1.5em auto 1.5em auto;
    }
    &.dark-mode {
        color : $third-color-dark;
    }
}


