@import '../../styles/variables.scss';

.pageError .header__navbar--li{
    @media (min-width: 768px) {
        opacity :0;  
    }

}
.error {
    margin: 70px;
    //border: dashed 5px  $secondary-color;
    text-align: center;
    height: 70vh;
    & p{
        color : $primary-color;
        font-size: 2em;
        @media (min-width: 1440px){
            font-size: 3em;
    }
}
    & svg {
        @media (min-width: 768px){
        height: 190px;
        width: 280px;
    }
}
    & path {
        stroke: $secondary-color;
        stroke-width: 4;
    }
    & polygon {
        fill : $secondary-color;
    }
    & img {
        object-fit: cover;
        height: 4em;
        width : 4em;
        background : $secondary-color;
    }
    & a {
        text-decoration: none;
    }
}
