@import '../../styles/variables.scss';

.btnMenu {
    box-sizing: content-box;
    @media (min-width: 768px) {
        opacity: 0;
    }
    & img.icon__menu,
    img.icon__close {
        position: fixed;
        right: 20px;
        top: 20px;
        width: 2em;
        z-index: 5;
        background-color: $primary-color;
    }
    & img.icon__close {
        width: 1em;
    }
    & .header {
        position: fixed;
        top: 0;
        right: 0;
        height: 230px;
        border-radius: 10px 10px 0 0;
        border: dashed $third-color 2px;
        width: 40vw;
        min-width: 150px;
        max-width: 170px;
        padding: 10px;
        z-index: 2;
    }
    & .header__navbar {
        flex-direction: column;
        padding: 0;
        height: 100%;
        & li {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            font-size: 1.2em;
            padding: 8px;
            opacity: 1;
            & > a {
                text-align: center;
            }
        }
    }
    & .iconNavbar {
        height: 0;
        visibility: hidden;
    }
}
