$primary-color : rgba(23, 43, 100, 1);
$secondary-color : rgba(255, 163, 130, 1);
$third-color : white;

$primary-color-dark :black;
//$secondary-color-dark : rgb(44, 20, 3);
$secondary-color-dark : rgb(90, 60, 165);
$third-color-dark : white;



