@import '../../styles/variables.scss';

a.arrowTop {
    padding: 3px 2% 0 0;
    background-color: $secondary-color;
    & img {
        border : solid 3px $primary-color;
        padding : 10px;
        border-radius: 50%;
        width: 20px; 
        height: 25px; 
        box-sizing: revert;
    }
}