@import '../../styles/variables.scss';


.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, $secondary-color,  $third-color);
    color : $primary-color;
    font-weight: bold;
    height: 100%;
    padding: 20px 10px 40px 10px;
    &.dark-mode {
        background: linear-gradient(to bottom, $secondary-color-dark,  $third-color-dark);
    }
    & .title {
        margin: 20px 0 20px 0;
        font-size: 1.2em;
        width: 100%;
        @media (min-width : 768px){
            width: 100%;
        }
    }
    & span {
        margin: 30px;
        border-bottom: solid 3px $third-color;
     }
      & .openC , .ecole42 {
        display: flex;
        width: 100%;
        max-width: 400px;
        @media (min-width: 768px){
            max-width: 800px;
            margin-left: 30px;
        }
        &_column{
        align-self: center;
        }
        & img {
            object-fit: cover;
            height : 100px;
            width : 170px;
            @media (min-width: 768px){
                margin-left: 130px;
                height : 130px;
                width : 200px;
            }
        }
        & p {
            border-left: solid 3px $third-color;
            margin:0 auto;
            padding: 8px 0px 8px 8px;
            height: 100%;
            line-height: 1.5em;
           
        }
    }
    & .arrowRight {
        @media (min-width : 1024px){
            width: 80%;
        }
        @media (min-width : 1044px){
            width: 55%;
        }
    }
} 
.explain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $third-color;
    height: 100%;
    padding: 60px 10px 40px 10px;
    &.dark-mode {
        background: $secondary-color-dark;
    }
    & p{
        padding: 5vh;
        border-radius: 50%;
        border : dashed 4px $secondary-color;
        text-align: center;
        @media (min-width : 768px) {
            width: 75%;
        }
    }
    & .arrowRight {
        height : 0.5em;
        &__line{
        border-left : solid 5px $primary-color;
         }
        &__point {
        border-right : solid 5px $primary-color;
    }
}
}

.softSkills {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-bottom: 30px;
    background: linear-gradient(to left, ($secondary-color, $third-color));
    &.dark-mode {
        background: $secondary-color-dark;
    }
    & > .tag {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 50%;
        background: linear-gradient(to bottom, ($secondary-color, $third-color));
        &.dark-mode {
            color :$primary-color-dark;
        }
    }
   
}

.hardSkills {
    color: $primary-color;
    padding: 20px 10px 50px 10px;
    background: $third-color;
    &.dark-mode {
        background: linear-gradient(to bottom, ($secondary-color-dark, $third-color-dark));
    }
    &__icon {
        margin: 0 5vw 0 5vw;
        border : thick double  $primary-color;
        & img {
        object-fit: cover;
        height : 12vw;
        max-height: 80px;
        margin : 20px;
    }
    &-column {
        display: flex;
        max-width: 450px;
        margin: 0 auto; 
        @media (min-width : 768px){
                max-width: 700px;
            }
        & > div {
            display: flex;
            justify-content: center;
        }
    }
}
}