@import '../../styles/variables.scss';

.modal__container {
    position : fixed;
    display: flex;
    justify-content: center;
    top : 80px;
    width: 90%;
    height: 85%;
    background:$third-color;
    color: $third-color;
    z-index: 5;
    border-radius: 16px;
    &-text {
        overflow: scroll;
        color: $primary-color;
        width: 90%;
        height: 95%;
        max-width: 1400px;
        text-align: justify;
        padding: 10px;
        & p, span{
            max-width: 90%;
        }
    }
}
.BtnModalClose{
    position : absolute;
    top : 20px;
    right : 20px;
    padding : 5px;
    height: 15px;
    width: 15px;
    background : $primary-color;

}