@import '../../styles/variables.scss';

.gallerycard__container {
    display : flex;
    flex-direction: column;
    align-content: center;
    background: linear-gradient(to bottom, $secondary-color, $third-color,);
    border-radius: 20px;
    margin : 30px 20px 20px 20px;
    max-width: 450px;
    @media(min-width: 768px){
        margin: 20px 0 30px 0;
        max-height: 350px;
    }
    &:hover{
        transform : scale(1.05)
    }
    & img {
        object-position: 15% 50%;
        border-radius: 20px 20px 0 0;
        width: 100%;
        max-width: 450px;
        height: 200px;
        @media (min-width: 768px) {
            height : 250px;
            object-position: 15% 40%;
        }
    }
    & p {
        margin: 0;
        padding: 10px;
        height: 50px;
        color: $primary-color;
        @media (min-width: 1440px) {
            height: 70px;
        }
    }
}

