.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 10px;
    padding: 12px 16px 12px 16px;
    border-radius: 10px;
    @media (min-width: 768px) {
        font-size: 1.2em;
    }
}
